<a href="https://colab.research.google.com/github/hamdanabdellatef/python/blob/main/2dlists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

scores is the grades of exam 0, 1,2 for 4 students student 0 to 3

In [4]:
scores = [[80,90,50],
 [85,72,63],
  [52,91,30],
   [67,76,86]]


print(scores)

[[80, 90, 50], [85, 72, 63], [52, 91, 30], [67, 76, 86]]

we can one index to view the grades of one student

In [6]:
print(scores[3])

[67, 76, 86]

In [7]:
print(scores[1][2])

63

We awant to calculate the overall grade of the students
exam 0 and 1 is 30%
exam 2 is 40%

In [9]:
print(scores[3])
weights = [0.3,0.3,0.4]

overall = 0

for i in range(len(weights)):
    overall += scores[3][i]*weights[i]

print(overall)

# 67*0.3 + 76*0.3 + 86 * 0.4 = overall

[67, 76, 86]
77.3

In [11]:
for x in scores:
  print(x)
  print()

[80, 90, 50]

[85, 72, 63]

[52, 91, 30]

[67, 76, 86]

In [13]:
overall = []
weights = [0.3,0.3,0.4]
for one_student_grades in scores:
  overall_one_student = 0
  i = 0
  for grade in one_student_grades:
    overall_one_student += grade * weights[i]
    i += 1
  overall.append(overall_one_student)

print(overall)

[71.0, 72.3, 54.9, 77.3]

In [18]:
# if I want to get an output variable from the function it should be return at the end

def calculate_overall(scores,weights=[0.3,0.3,0.4]):
  overall = []
  for one_student_grades in scores:
    overall_one_student = 0
    i = 0
    for grade in one_student_grades:
      overall_one_student += grade * weights[i]
      i += 1
    overall.append(overall_one_student)
  return overall

In [19]:
overall_from_function = calculate_overall(scores)
print(overall_from_function)

[71.0, 72.3, 54.9, 77.3]

In [20]:
avg = 0
for x in overall_from_function:
  avg += x
print(avg/len(overall_from_function))

68.875

In [ ]:
print(scores[3])
weights = [0.3,0.3,0.4]

overall = 0

for i in range(len(weights)):
    overall += scores[3][i]*weights[i]

print(overall)

In [ ]:
print(scores[0:2])

[[80, 90, 50], [85, 72, 63]]

In [ ]:
mn = min(scores)
print(mn)

[52, 91, 30]

In [ ]:
mn = 100
for i in scores:
    tmp = min(i)
    print(i,tmp)
    if tmp < mn:
        mn = tmp


print(mn)

[80, 90, 50] 50
[85, 72, 63] 63
[52, 91, 30] 30
[67, 76, 86] 67
30

In [ ]:
sum = 0
for i in scores:
    sum += i[1]

print(sum/len(scores))

82.25

In [ ]:
print(scores[:][1])

[85, 72, 63]

In [1]:
# Define two matrices as lists of lists
matrix1 = [[1, 2], [3, 4]]
matrix2 = [[5, 6], [7, 8]]

# Initialize the result matrix with zeros
result = [[0, 0], [0, 0]]

# Perform matrix multiplication
for i in range(len(matrix1)):
    for j in range(len(matrix2[0])):
        for k in range(len(matrix2)):
            result[i][j] += matrix1[i][k] * matrix2[k][j]

# Print the result
for row in result:
    print(row)

[19, 22]
[43, 50]

In [ ]:
def is_divisible_by_two(L):
    n = len(L)
    result = False
    for i in range(1,n):
        if sum(L[0:i]) == sum(L[i:n+1]):
            result = True
            break
    return result

L = [int(i) for i in input().split()]

print(is_divisible_by_two(L))

 1 -1 0

True

In [ ]:
def t(s):
    r = ""
    CODON_TO_AMINO_ACID={
    'ATG':'M','GCG':'A','TCA':'S','GAA':'E','GGG':'G','GGT':'G',
    'AAA':'K','GAG':'E','AAT':'N','CTA':'L','CAT':'H','TCG':'S',
    'TAG':'_','GTG':'V','TAT':'Y','CCT':'P','ACT':'T','TCC':'s',
    'CAG':'Q','CCA':'P','TAA':'_','AGA':'R','ACG':'T','CAA':'Q',
    'TGT':'C','GCT':'A','TTC':'F','AGT':'S','ATA':'I','TTA':'L',
    'CCG':'P','ATC':'I','TTT':'F','CGT':'R','TGA':'_','GTA':'V',
    'TCT':'S','CAC':'H','GTT':'V','GAT':'D','CGA':'R','GGA':'G',
    'GTC':'V','GGC':'G','TGC':'C','CTG':'L','CTC':'L','CGC':'R',
    'CGG':'R','AAC':'N','GCC':'A','ATT':'I','AGG':'R','GAC':'D',
    'ACC':'T','AGC':'S','TAC':'Y','ACA':'T','AAG':'K','GCA':'A',
    'TTG':'L','CCC':'P','CTT':'L','TGG':'W'
    }
    for i in range(0,len(s),3):
        r+= CODON_TO_AMINO_ACID[s[i:i+3]]
    return r
s = input()
print(t(s))

 AGCGCGCTGACCTAC

SALTY

In [ ]:
def check_p(n):
    is_p = True
    if n <= 1:
        is_p = False
    else:
        for i in range(2,n):
            if n%i == 0:
                is_p = False
                break
        return is_p

def poli(a,b,c):
    result = -1
    i = 0
    fx = a*(i**2)+ b*i + c
    x = check_p(fx)
    while x is True:
        fx = a*(i**2)+ b*i + c
        x = check_p(fx)
        i+= 1
        result = i - 2
    return result

a = int(input())
b = int(input())
c = int(input())

print(poli(a,b,c))

 4
 4
 59

13

In [ ]:
def enter_matrix_data(num_rows, num_cols, dtype=int):
    A = [0]*num_rows
    for i in range(num_rows):
        A[i] = input().split()
        # keep asking user for input if they don't enter 'num_cols' numbers
        while len(A[i]) != num_cols:
            print("Bad column length! Enter", num_cols, "numbers: ")
            A[i] = input().split()

    if dtype == int or dtype == float:
        for i in range(num_rows):
            for j in range(num_cols):
                if dtype == int:
                    A[i][j] = int(A[i][j])
                elif dtype == float:
                    A[i][j] = float(A[i][j])
    return A

def totalFriendships(M):
    n = len(M)
    result = 0
    for i in range(n):
        for j in range(len(M[0])):
            if M[i][j] == 1 and i <j:
                result += 1
    return result

n = int(input()) # represents the number of rows and columns (n x n matrix)
M = enter_matrix_data(n, n)
print(totalFriendships(M))

 3
 0 1 1
 1 0 0
 1 0 0

2

In [ ]:
input().split()
for i in range(len(n)): n[1]= int(n[1])
    k-int(input()) x= int(input()) h=n[:X] q=n[x-1:]
    if abs(n[x-1]-k)<abs (n[x]-n[x+1]) or abs (n[x-1)-k)=abs (n[x]-n[x+1])
    else:
        print(h)
        print(i)

IndentationError: unexpected indent (138440588.py, line 3)