<a href="https://colab.research.google.com/github/hamdanabdellatef/python/blob/main/Files_and_Exceptions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Files and Exeptions

1.   Introduction to File Input and Output
2.   Using Loops to Process Files
3.   Processing Records
4.   Exceptions

## Creating a File

In [ ]:
f = open('prime.txt','w')
f.write('This is our file')
f.close()

## Writing to file

In [ ]:
f = open('prime.txt','w')
f.write('This is a new line')
f.close()

##Reading From File

In [ ]:
f2 = open('prime.txt','r')
contents = f2.read()
f2.close()
print(contents)

This is a new line

## Append

In [ ]:
f = open('prime.txt','a')
f.write('\n This is another line')
f.close()

In [ ]:
f2 = open('prime.txt','r')
line = f2.readline()
print('The first line:', line)
line = f2.readline()
print('The second line:',line)
f2.close()

The first line: This is a new line

The second line:  This is another line

In [ ]:
f2 = open('prime.txt','r')
line = f2.readline()
print('The first line:', line.rstrip())
line = f2.readline()
print('The second line:',line.rstrip())
f2.close()

The first line: This is a new line
The second line:  This is another line

In [ ]:
x = 'This is a string \n'
print(x)
print(x.rstrip())

This is a string

This is a string

## Using Loops to process Files

In this example we want to create a file that contains all prime numbers

In [ ]:
def is_prime(n):
    isprime = True
    for d in range(2,n):
        if n%d == 0:
            isprime = False
            break

    return isprime

In [ ]:
filename = 'prime_numbers.txt'
f = open(filename,'w')
for x in range(2,100):
    if is_prime(x):
        f.write(str(x)+'\n')

f.close()

In [ ]:
f2 = open(filename,'r')
x = f2.read()
f2.close()
print(x)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
f2 = open(filename,'r')
x = f2.readline()
print(x)
x = f2.readline()
print(x)
f2.close()

In [ ]:
print("anb \n".rstrip())

In [ ]:
f2 = open(filename,'r')
x = f2.readline()
print(x.rstrip())
x = f2.readline()
print(x.rstrip())
f2.close()

2
3

### using while loop

In [ ]:
f2 = open(filename,'r')
line = f2.readline()
i = 1
while line != '':
    print("line {}: {}".format(i,line.rstrip()))
    line = f2.readline()
    i += 1

f2.close()

line 1: 2
line 2: 3
line 3: 5
line 4: 7
line 5: 11
line 6: 13
line 7: 17
line 8: 19
line 9: 23
line 10: 29
line 11: 31
line 12: 37
line 13: 41
line 14: 43
line 15: 47
line 16: 53
line 17: 59
line 18: 61
line 19: 67
line 20: 71
line 21: 73
line 22: 79
line 23: 83
line 24: 89
line 25: 97

### using for loop

In [ ]:
filename = 'prime_numbers.txt'
f2 = open(filename,'r')
i = 1
for line in f2:
    print("line {}: {}".format(i,line.rstrip()))
    i += 1

f2.close()

line 1: 2
line 2: 3
line 3: 5
line 4: 7
line 5: 11
line 6: 13
line 7: 17
line 8: 19
line 9: 23
line 10: 29
line 11: 31
line 12: 37
line 13: 41
line 14: 43
line 15: 47
line 16: 53
line 17: 59
line 18: 61
line 19: 67
line 20: 71
line 21: 73
line 22: 79
line 23: 83
line 24: 89
line 25: 97

I want to get the prime numbers that are > 50

In [ ]:
filename = 'prime_numbers.txt'
f2 = open(filename,'r')

for line in f2:
    if int(line) > 50:
        print(line.rstrip(), end=' ')

f2.close()

53 59 61 67 71 73 79 83 89 97

In [ ]:
f2 = open(filename,'r')
line = f2.readline()
while line != '':
    if int(line) > 50:
        print(line.rstrip(), end=' ')
    line = f2.readline()

f2.close()

53 59 61 67 71 73 79 83 89 97

#Exceptions

In [1]:
num1 = int(input('Enter a number: '))
num2 = int(input('Enter another number: '))
result = num1 / num2
print(num1, 'divided by', num2, 'is', result)

Enter a number: 10
Enter another number: 0

ZeroDivisionError: division by zero

In [3]:

hours = int(input('How many hours did you work? '))
pay_rate = float(input('Enter your hourly pay rate: '))
gross_pay = hours * pay_rate
print('Gross pay: $', format(gross_pay, ',.2f'), sep='')

How many hours did you work? 10
Enter your hourly pay rate: forty

ValueError: could not convert string to float: 'forty'

In [4]:
try:
  hours = int(input('How many hours did you work? '))
  pay_rate = float(input('Enter your hourly pay rate: '))
  gross_pay = hours * pay_rate
  print('Gross pay: $', format(gross_pay, ',.2f'), sep='')
except ValueError:
  print('ERROR: Hours worked and hourly pay rate must be valid integers or floating point numbers.')

How many hours did you work? forty
ERROR: Hours worked and hourly pay rate must be valid integers or floating point numbers.

In [7]:
try:
  hours = int(input('How many hours did you work? '))
  pay_rate = float(input('Enter your hourly pay rate: '))
  gross_pay = hours * pay_rate
  print('Gross pay: $', format(gross_pay, ',.2f'), sep='')
except ValueError as err:
  print(err)

How many hours did you work? forty
invalid literal for int() with base 10: 'forty'

In [ ]:
filename = input('Enter a filename: ')

infile = open(filename, 'r')
contents = infile.read()
print(contents)
infile.close()

In [5]:
try:
  filename = input('Enter a filename: ')
  infile = open(filename, 'r')
  contents = infile.read()
  print(contents)
  infile.close()
except FileNotFoundError:
  print('File', filename, 'does not exist.')

Enter a filename: bad.txt
File bad.txt does not exist.

In [6]:
try:
  infile = open('sales_data.txt', 'r')
  total = 0.0
  for line in infile:
    amount = float(line)
    total += amount

  infile.close()
  print(format(total, ',.2f'))

except IOError:
  print('An error occured trying to read the file.')

except ValueError:
  print('Non-numeric data found in the file.')

except:
  print('An error occured.')

else:
  print('No error occured.')

An error occured trying to read the file.