<a href="https://colab.research.google.com/github/hamdanabdellatef/python/blob/main/Module2%3Avariables%2C_input%2C_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction: Variables, Input, and Output in Python
Welcome to your first hands-on notebook in Introduction to Computer Programming!

In this notebook, you‚Äôll begin exploring some of the most fundamental concepts in any programming language ‚Äî and especially in Python:

üü® Variables ‚Äî how we store and work with data

üî§ Input ‚Äî how to receive values from the user

üñ®Ô∏è Output ‚Äî how to display results on the screen

These building blocks will allow you to create interactive, meaningful programs ‚Äî from simple calculations to real-world applications.

üéØ What You'll Learn:
How to define and use variables

- How to collect user input using the input() function
- How to display output using the print() function
- How to process data, perform basic math and combine everything into small programs


By the end of this notebook, you'll be able to write Python programs that:
- Respond to the user
- Process numeric or text input
- Display formatted results

Let‚Äôs dive in and begin your journey into programming!

#Using the print function, Comments, and Basic Strings

##Displaying Output with the `print` Function

**Function**: piece of prewritten code that performs an operation

**`print` function**: displays output on the screen

**Argument**: data given to a function
- Example: data that is printed to screen

Statements in a program **execute in the order** that they appear
-From top to bottom

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
print("This is the first line of code")
print("This is the second line of code")
print("This is the third line of code")

This is the first line of code
This is the second line of code
This is the third line of code

##Strings and String Literals

**String**: sequence of characters that is used as data

**String literal**: string that appears in actual code of a program
- Must be enclosed in single (`'`) or double (`"`) quote marks
- String literal can be enclosed in triple quotes (`'''` or `"""`)
 - Enclosed string can contain both single and double quotes and can have multiple lines

In [ ]:
print('This is a string literal')
print("This is a string literal")
print('''This is a string literal''')
print("""This is a string literal""")

This is a string literal
This is a string literal
This is a string literal
This is a string literal

In [ ]:
print('''This is a string literal
that spans multiple lines''')

This is a string literal
that spans multiple lines

##Comments
**Comments**: notes of explanation within a program
- Ignored by Python interpreter
 - Intended for a person reading the program‚Äôs code
- Begin with a `#` character

**End-line comment**: appears at the end of a line of code
- Typically explains the purpose of that line

In [ ]:
print("Hello world")
#This is a comment

print("This line is not a comment")

Hello world
This line is not a comment

In [ ]:
#the print function prints data to screed
#The syntax is print(data)
print("Hello World")

Hello World

In [ ]:
print("Hello World") #This is a comment

Hello World

In [ ]:
#this is comment print("hello world")

##Displaying Multiple Items with the `print` Function
Python allows one to display multiple items with a single call to print
- Items are separated by commas when passed as arguments
- Arguments displayed in the order they are passed to the function
- Items are automatically separated by a space when displayed on screen

In [ ]:
print("Hello", "World", '!!')

Hello World !!

In [ ]:
x = 10
y = 20

z = x + y

print(x, "+", y, "=", z)
# The output will be 10 + 20 = 30

10 + 20 = 30

In [ ]:
print('x','+','y','=',z)
#x + y = 30

x + y = 30

#Introduction to Varaibles

**Variable**: name that represents a value stored in the computer memory
- Used to access and manipulate data stored in memory
- A variable references the value it represents

##Variable Assignment
**Assignment statement**: used to create a variable and make it reference data
- General format is `variable = expression`
- Example: `age = 29`

**Assignment operator**: the equal sign (`=`)

In assignment statement, *variable receiving value must be on left side*.

In [ ]:
a = 5
age = 29
text = 'Hello World'

In [ ]:
print(a,age,text)

5 29 Hello World

In [ ]:
b = a
print(b)

5

In [ ]:
c = 10
b = c
print(b)

10

##Passing Variables to functions
- A variable can be passed as an argument to a function
- Variable name should not be enclosed in quote marks
- You can only use a variable if a value is assigned to it

In [ ]:
print(age)

29

In [ ]:
print('my age is', age)

my age is 29

In [ ]:
print('age')

age

##Variable Naming Rules
Rules for naming variables in Python:
- Variable name cannot be a Python key word
- Variable name cannot contain spaces
- First character must be a letter or an underscore
- After first character may use letters, digits, or underscores
- Variable names are case sensitive

Variable name should reflect its use

In [ ]:
if = 4

SyntaxError: invalid syntax (ipython-input-22-1720054281.py, line 1)

In [ ]:
new_sentence = 'This is the sentence'

In [ ]:
x1 = 1
x2 = 2

In [ ]:
_variable = 10
print(_variable)

10

In [ ]:
print(a)

5

In [ ]:
#A is not the same as a
A = 10
a = 20
print(A)
print(a)

10
20

In [ ]:
Employee_name = 'John Smith'
print(Employee_name)

John Smith

##Variable Reassignment
Variables can reference different values while program is running

**Garbage collection**: removal of values that are no longer referenced by variables
- Carried out by Python interpreter

A variable can refer to item of any type
- Variable that has been assigned to one type can be reassigned to another type

In [ ]:
x = 10
print(x)
x = 15
print(x)
x = 'This is a text'
print(x)

10
15
This is a text

#More on Variables and Data Types

## Data types
- In python, data type is considered based on the assignment
- use `type()` function to show the data type

In [ ]:
x = 10
print(type(x))

<class 'int'>

In [ ]:
x = 10.5
print(type(x))

<class 'float'>

In [ ]:
x = 'Hello World'
print(type(x))

<class 'str'>

In [ ]:
x = 10.5
y = 15
print(type(x),type(y),x+y,type(x+y))

<class 'float'> <class 'int'> 25.5 <class 'float'>

## Operations depend on data type
- Some operations behave differently depending on data type
- Example `+` with `int` is different than `str`

In [ ]:
x = 'Hello'
y = 'World'
print(x+' '+y)

Hello World

In [ ]:
text = 'my are is'
age = 29
print(text,age)

my are is 29

In [ ]:
text = 'Hello'
repeat = 5
print(text*repeat)

HelloHelloHelloHelloHello

#Peforming Calculations

##Mathematical operators
- Addition `+` and subtraction `-`
- Multiplication `*`, division `/`, integer division '//'
- Perecedence *PEMDAS*

In [ ]:
x = 2
y = 3
print(x+y)
print(x-y)
print(x*y)
print(x/y)
print(x//y)

5
-1
6
0.6666666666666666
0

In [ ]:
z = (x+y)**2 + 5 / 2
# 5**2 + 5/2
#25 + 5/2
#25 + 2.5 = 27.5
print(z)

27.5

##The Exponent Operator
**Exponent operator** (`**`): Raises a number to a power

`x ** y` = $x^y$

In [ ]:
print(5**3)

125

In [ ]:
print(16**0.5)

4.0

In [ ]:
print(10**-1)

0.1

##The Remainder operator
**Remainder operator** (`%`): Performs division and returns the remainder
a.k.a. modulus operator

e.g., `4%2`= 0, `5%2` = 1

Typically used to convert times and distances, and to detect odd or even numbers

In [ ]:
x = 3
y = 2
print(x,'/',y,'=',x//y,'+',x%y,'/',y)

3 / 2 = 1 + 1 / 2

In [ ]:
x = 37

print(x%2)

1

#Converting a formula to programming statements

Mathematical formula for the area of the circle:

Area$=\pi r^2$

Where:

$\pi \approx 3.1416$

$r$ is the radius of the circle

In [ ]:
r = 10
area = 3.1416 * r**2
print('The area of the circle is', area, 'meters squared')

The area of the circle is 314.15999999999997 meters squared

Mathematical Formula: Solving a Quadratic Equation

For an equation:

$ax^2+bx+c=0$

The solutions are given by the quadratic formula:

$x = \frac{-b \pm \sqrt{b^2-4ac}}{2a}$

In [ ]:
# INPUT
# some way to ask the user for the values of a b and c
a = 2
b = 4
c = 1

#PROCESS
d = b**2 - 4*a*c

x1 = (-b + d**0.5)/(2*a)
x2 = (-b - d**0.5)/(2*a)

#OUTPUT
print('The solutions are', x1, 'and', x2)

The solutions are -0.2928932188134524 and -1.7071067811865475

#Formating Text and Numbers

##More on Output

`print` function displays line of output
- Newline character at end of printed data
- Special argument `end='delimiter'` causes print to place delimiter at end of data instead of newline character

In [2]:
print('Hello')
print('World')

#i want to have the output to be Hello World
print('Hello',end=' ')
print('World')

Hello
World
Hello World

In [3]:
#Hello--World
print('Hello',end='--')
print('World')

Hello--World

`print` function uses space as item separator
- Special argument `sep='delimiter'` causes print to use delimiter as item separator

In [4]:
print('Hello','World','!!')

Hello World !!

In [6]:
#Hello__-World__-!!
print('Hello','World','!!',sep='__-')

Hello__-World__-!!

Special characters appearing in string literal
- Preceded by backslash (`\`)
- Examples: newline (`\n`), horizontal tab (`\t`)
- Treated as commands embedded in string

In [7]:
print('Hello','World','!!',sep='\n')

Hello
World
!!

In [8]:
print('Hello','World','!!',sep='\t')

Hello	World	!!

In [9]:
text = 'Hello\nWorld\n!!'
print(text)

Hello
World
!!

In [11]:
text = 'Hello\new\World\!!'
#Hello
#ew\World\!!
print(text)

Hello
ew\World\!!

In [12]:
text = 'Hello\\new\\World\\!!'
print(text)

Hello\new\World\!!

When `+` operator used on two strings in performs string concatenation
- Useful for breaking up a long string literal

In [14]:
text1 = 'Hello'
text2 = 'World'
print(text1+' '+text2)

Hello World

##Formatting Numbers in Python: format() vs f-Strings

Python lets you control how numbers appear on screen using formatting tools. Two common methods:

###`format()` Function
Takes two arguments:
- The number to format
- A format specifier string
 - https://docs.python.org/3/library/string.html

In [24]:
x = 128.123456
y = 123.987
print('The results are {:.2f} and {}'.format(x,y))

print('The results are {1:.2f} and {0:.2f}'.format(x,y))

print(format(x,'.2f'))

The results are 128.12 and 123.987
The results are 123.99 and 128.12
128.12

###f-Strings (Recommended for Python 3.6+)
- Easier and more readable
- Embed formatting directly inside the string

In [25]:
print(f'The results are {x:.2f} and {y:.2f}')

The results are 128.12 and 123.99

#Using Constants

Problem: Calculate the total price of an item after adding sales tax.
- Without a Named Constant (magic number used)
- Problem: 0.1 is a magic number ‚Äî not obvious what it means.

In [26]:
price = 100
total = price + (price * 0.1)  # What is 0.1?
print("Total price:", total)

Total price: 110.0

In [27]:
SALES_TAX = 0.1
price = 100
total = price + (price * SALES_TAX)
print("Total price:", total)

Total price: 110.0

##Mobile Data Overage Fee Calculator
A mobile carrier charges a base monthly fee of \$20, which includes 5 GB of data. After the 5 GB, users are charged \$2.75 per GB (or any part thereof) for extra usage.

You are to write a program that:

- Takes as input the total number of gigabytes used by the customer in a month (can be a float).
- Calculates the total cost.

In [30]:
gb_used = 6.2 # This is the input

extra_gb = max(0, gb_used - 5)
total_cost = 20 + extra_gb * 2.75

print(f"Total cost: ${round(total_cost, 2)}")

Total cost: $23.3

In [31]:
# Named constants
BASE_PLAN_COST = 20.0
INCLUDED_GB = 5
OVERAGE_RATE = 2.75

# Input and logic
gb_used = 6.2 # This is the input
extra_gb = max(0, gb_used - INCLUDED_GB)
total_cost = BASE_PLAN_COST + extra_gb * OVERAGE_RATE

# Output
print(f"Total cost: ${round(total_cost, 2)}")

Total cost: $23.3

#Applying Output in Different Problems

##Decimal Precision

In [32]:
x = 123.456789
print(x)

123.456789

In [33]:
print(f'{x:.2f}')

123.46

In [34]:
print(f'This is also x with 3 decimal points {x:.3f}')

This is also x with 3 decimal points 123.457

##Scientific Notation

In [37]:
m = 0.0000000000123
print(f'{m:e}')
print(f'{m:.2E}')

1.230000e-11
1.23E-11

##`\N{name}` ‚Äî Unicode Character by Name
- This escape sequence lets you insert a Unicode character by its official name, wrapped in \N{...}.
- https://unicode.org/charts/
- Let's create simple converter euro to usd

In [39]:
euro = 200
usd = 1.16 * euro
print(f'{euro} \N{euro sign} is {usd:.2f} \N{dollar sign}')

200 ‚Ç¨ is 232.00 $

You can create emojis

In [40]:
print('Hello \N{grinning face}')

Hello üòÄ

##`\u` ‚Äî Unicode Character by 4-Digit Hex Code

- In Python, the escape sequence \u is used to represent Unicode characters using their 4-digit hexadecimal code point.
- https://unicode.org/charts/
-  If the code is longer than 4 digits use `\U` (uppercase U) with 8 digits instead

In [42]:
print('200\u20ac')

200‚Ç¨

##Alignment and Width
- You can align numbers using format codes to print neat tables or columns.

In [52]:
x = 123456.789123
print(f'{"precision":^20}{x:15.2f}')
print(f'{"Scientific":^20}{x:15.3e}')

     precision            123456.79
     Scientific           1.235e+05

##Update output on the same line

- `\r` returns the cursor to the beginning of the current line, without moving to the next line.
- It‚Äôs often used to overwrite or update output on the same line ‚Äî like showing a loading spinner or a countdown.

In [56]:
from time import sleep

In [59]:
print('before sleep',end=' ')
sleep(5)
print('\rafter sleep')

after sleep

In [63]:
print('5',end=' ')
sleep(1)
print('\r4',end=' ')
sleep(1)
print('\r3',end=' ')
sleep(1)
print('\r2',end=' ')
sleep(1)
print('\r1',end=' ')
sleep(1)
print('\rGO!!',end=' ')

GO!!

#Getting Input

##Using the `input()` Function
- `input()` pauses program execution
- Returns a string
- You can store the result in a variable

In [64]:
print('The program starts here')
input('Press enter to continue')
print('The program continues here')

The program starts here
Press enter to continue
The program continues here

In [65]:
name = input('Enter your name:')
print('Hello',name)
print(type(name))

Enter your name:Hamdan
Hello Hamdan
<class 'str'>

##Combining Input and Output
name with age example

In [66]:
name = input('Enter your name:')
age = input('Enter your age:')
print('Hello',name,'you are',age,'years old')
print(type(name),type(age))

Enter your name:John
Enter your age:25
Hello John you are 25 years old
<class 'str'> <class 'str'>

##Input Cleaning and Tips
- Use strip() to remove extra spaces
- .lower() / .upper() to normalize input
- Use split() for multiple value

In [70]:
name = input('Enter your name:').strip()
#name = name.strip()
print('Hello',name)

Enter your name:     John
Hello John

In [72]:
name = input('Enter your name:').strip().upper()
print('Hello',name)

Enter your name:hamdan
Hello HAMDAN

In [74]:
name, surname = input('Enter your name and surname:').split()
print('Hello',surname, name)

Enter your name and surname:Hamdan Abdellatef
Hello Abdellatef Hamdan

#Data Type Conversion

##Converting the data type of a variable
- `int(variable)` convert to integer
- `float(variable)` covert to float
- `str(variable)` convert to string

In [75]:
age = input('Enter your age:')
print(age,type(age))
age = int(age)
print(type(age))

Enter your age:40
40 <class 'str'>
<class 'int'>

In [78]:
age = int(input('Enter your age (with numbers):'))
print(age,type(age))

Enter your age (with numbers):20
20 <class 'int'>

In [79]:
mass = float(input('Enter the object mass:'))
print(mass,type(mass))

Enter the object mass:1.4
1.4 <class 'float'>

In [82]:
mass = 1.4
mass = int(mass)
print(mass,type(mass))

1 <class 'int'>

In [83]:
print('the mass is '+str(mass)+' kg')

the mass is 1 kg

##Type Conversion
All input is returned as a string, so you must convert it to use it for math.

Example age next year

In [84]:
age = int(input('Enter your age:'))
age = age + 1
print('Next year you will be',age)

Enter your age:32
Next year you will be 33

Example price and quantity

In [85]:
unit_price = float(input('Enter the unit price \N{euro sign}:'))
quantity = int(input('Enter the quantity:'))
total = unit_price * quantity
print('The total is',total,'\N{euro sign}')

Enter the unit price ‚Ç¨:15.7
Enter the quantity:55
The total is 863.5 ‚Ç¨

##Common Mistakes
- forgetting to do conversion
- Invalid conversion

In [86]:
unit_price = input('Enter the unit price \N{euro sign}:')
quantity = input('Enter the quantity:')
total = unit_price * quantity
print('The total is',total,'\N{euro sign}')

Enter the unit price ‚Ç¨:14.8
Enter the quantity:100

TypeError: can't multiply sequence by non-int of type 'str'

##Mini problem

Write a program to calculate BMI using the following equation:

$\text{BMI}=\frac{weight}{height^2}$

where weight in kg and height in m

The BMI result should be with only 2 digits as fraction part

In [88]:
#input
weight = float(input('Enter your weight (kg):'))
height = float(input('Enter your height (m):'))

#process
bmi = weight / height**2

#output
print(f'Your BMI is {bmi:.2f}')

Enter your weight (kg):80
Enter your height (m):1.8
Your BMI is 24.69

##Mini problem

write a program that convert the temparture from Celcieus to Fahrenheit using the following formula

$¬∞F = (¬∞C \times \frac{9}{5})+32$

In [89]:
#input
C = float(input('Enter the temperature in Celsius:'))

#process
F = C * 9/5 + 32

#output
print(f'{C}¬∞C is {F}¬∞F')

Enter the temperature in Celsius:38
38.0¬∞C is 100.4¬∞F

#Simple Math application

Ask the user to enter the following:
- Name and Surname
- Homework grade (25%)
- Midterm exam grade (35%)
- Final exam grade (40%)

Calculate and display the final weighted grade rounded with two decimal digits. The output should look like this:

`John Smith scored 80.75%`

In [87]:
#input
name, surname = input('Enter your name and surname:').split()
hw = float(input('Enter your homework grade:'))
me = float(input('Enter your midterm exam grade:'))
fe = float(input('Enter your final exam grade:'))

#process
weighted_grade = hw * 0.25 + me * 0.35 + fe * 0.40

#output
print(f'{name} {surname} scored {weighted_grade:.2f}%')
#

Enter your name and surname:John Smith
Enter your homework grade:90
Enter your midterm exam grade:80
Enter your final exam grade:85
John Smith scored 84.50%