<a href="https://colab.research.google.com/github/hamdanabdellatef/python/blob/main/variables%2C_input%2C_output.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Using the print function, Comments, and Basic Strings

##Displaying Output with the `print` Function

**Function**: piece of prewritten code that performs an operation

**`print` function**: displays output on the screen

**Argument**: data given to a function
- Example: data that is printed to screen

Statements in a program **execute in the order** that they appear
-From top to bottom

In [1]:
print("Hello World!")

Hello World!

In [2]:
print("This is the first line of code")
print("This is the second line of code")
print("This is the third line of code")

This is the first line of code
This is the second line of code
This is the third line of code

##Strings and String Literals

**String**: sequence of characters that is used as data

**String literal**: string that appears in actual code of a program
- Must be enclosed in single (`'`) or double (`"`) quote marks
- String literal can be enclosed in triple quotes (`'''` or `"""`)
 - Enclosed string can contain both single and double quotes and can have multiple lines

In [3]:
print('This is a string literal')
print("This is a string literal")
print('''This is a string literal''')
print("""This is a string literal""")

This is a string literal
This is a string literal
This is a string literal
This is a string literal

In [4]:
print('''This is a string literal
that spans multiple lines''')

This is a string literal
that spans multiple lines

##Comments
**Comments**: notes of explanation within a program
- Ignored by Python interpreter
 - Intended for a person reading the program’s code
- Begin with a `#` character

**End-line comment**: appears at the end of a line of code
- Typically explains the purpose of that line

In [5]:
print("Hello world")
#This is a comment

print("This line is not a comment")

Hello world
This line is not a comment

In [6]:
#the print function prints data to screed
#The syntax is print(data)
print("Hello World")

Hello World

In [7]:
print("Hello World") #This is a comment

Hello World

In [8]:
#this is comment print("hello world")

##Displaying Multiple Items with the `print` Function
Python allows one to display multiple items with a single call to print
- Items are separated by commas when passed as arguments
- Arguments displayed in the order they are passed to the function
- Items are automatically separated by a space when displayed on screen

In [10]:
print("Hello", "World", '!!')

Hello World !!

In [11]:
x = 10
y = 20

z = x + y

print(x, "+", y, "=", z)
# The output will be 10 + 20 = 30

10 + 20 = 30

In [13]:
print('x','+','y','=',z)
#x + y = 30

x + y = 30

#Introduction to Varaibles

**Variable**: name that represents a value stored in the computer memory
- Used to access and manipulate data stored in memory
- A variable references the value it represents

##Variable Assignment
**Assignment statement**: used to create a variable and make it reference data
- General format is `variable = expression`
- Example: `age = 29`

**Assignment operator**: the equal sign (`=`)

In assignment statement, *variable receiving value must be on left side*.

In [14]:
a = 5
age = 29
text = 'Hello World'

In [15]:
print(a,age,text)

5 29 Hello World

In [16]:
b = a
print(b)

5

In [18]:
c = 10
b = c
print(b)

10

##Passing Variables to functions
- A variable can be passed as an argument to a function
- Variable name should not be enclosed in quote marks
- You can only use a variable if a value is assigned to it

In [19]:
print(age)

29

In [20]:
print('my age is', age)

my age is 29

In [21]:
print('age')

age

##Variable Naming Rules
Rules for naming variables in Python:
- Variable name cannot be a Python key word
- Variable name cannot contain spaces
- First character must be a letter or an underscore
- After first character may use letters, digits, or underscores
- Variable names are case sensitive

Variable name should reflect its use

In [22]:
if = 4

SyntaxError: invalid syntax (ipython-input-22-1720054281.py, line 1)

In [24]:
new_sentence = 'This is the sentence'

In [25]:
x1 = 1
x2 = 2

In [27]:
_variable = 10
print(_variable)

10

In [28]:
print(a)

5

In [30]:
#A is not the same as a
A = 10
a = 20
print(A)
print(a)

10
20

In [31]:
Employee_name = 'John Smith'
print(Employee_name)

John Smith

##Variable Reassignment
Variables can reference different values while program is running

**Garbage collection**: removal of values that are no longer referenced by variables
- Carried out by Python interpreter

A variable can refer to item of any type
- Variable that has been assigned to one type can be reassigned to another type

In [32]:
x = 10
print(x)
x = 15
print(x)
x = 'This is a text'
print(x)

10
15
This is a text

#More on Variables and Data Types

## Data types
- In python, data type is considered based on the assignment
- use `type()` function to show the data type

## Operations depend on data type
- Some operations behave differently depending on data type
- Example `+` with `int` is different than `str`

#Peforming Calculations

##Mathematical operators
- Addition `+` and subtraction `-`
- Multiplication `*`, division `/`, integer division '//'
- Perecedence *PEMDAS*

##The Exponent Operator
**Exponent operator** (`**`): Raises a number to a power

`x ** y` = $x^y$

##The Remainder operator
**Remainder operator** (`%`): Performs division and returns the remainder
a.k.a. modulus operator

e.g., `4%2`= 0, `5%2` = 1

Typically used to convert times and distances, and to detect odd or even numbers

#Converting a formula to programming statements

Mathematical formula for the area of the circle:

Area$=\pi r^2$

Where:

$\pi \approx 3.1416$

$r$ is the radius of the circle

Mathematical Formula: Solving a Quadratic Equation

For an equation:

$ax^2+bx+c=0$

The solutions are given by the quadratic formula:

$x = \frac{-b \pm \sqrt{b^2-4ac}}{2a}$

#Formating Text and Numbers

##More on Output

`print` function displays line of output
- Newline character at end of printed data
- Special argument `end='delimiter'` causes print to place delimiter at end of data instead of newline character

`print` function uses space as item separator
- Special argument `sep='delimiter'` causes print to use delimiter as item separator

Special characters appearing in string literal
- Preceded by backslash (`\`)
- Examples: newline (`\n`), horizontal tab (`\t`)
- Treated as commands embedded in string

When `+` operator used on two strings in performs string concatenation
- Useful for breaking up a long string literal

##Formating Numbers

Can format display of numbers on screen using built-in `format` function
- Two arguments:
 - Numeric value to be formatted
 - Format specifier
- Returns string containing formatted number
- Format specifier typically includes precision and data type
 - Can be used to indicate scientific notation, comma separators, and the minimum field width used to display the value

The `%` symbol can be used in the format string of `format` function to format number as percentage

To format an integer using format function:
- Use d as the type designator
- Do not specify precision
- Can still use `format` function to set field width or comma separator

#Using Constants

Problem: Calculate the total price of an item after adding sales tax.
- Without a Named Constant (magic number used)
- Problem: 0.1 is a magic number — not obvious what it means.

In [ ]:
price = 100
total = price + (price * 0.1)  # What is 0.1?
print("Total price:", total)